- title 'Timeline Viewer - Detail'

%section
  .container
    .row
      .span16
        = render 'detail'

-#
  .container
    .row
      .span16
        %h3
          Edit
        %p
          = render 'form'
